* {
    font-family: 'Montserrat', sans-serif;

}

body {
    background-color: #181D31;
    color: white;
    padding: 0px;
    margin: auto 0px;

}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    color: #eeeeee;
    background-color: #181D31;
    border-radius: 6px;
    padding: 10px;
}

h2 {
    text-align: center;
    text-shadow: 2px 2px gray;
    font-size: 45px;
    color: #678983;
    margin-top: 80px;
}

h3 {
    text-align: center;
    text-shadow: 2px 2px gray;
    font-size: 45px;
    color: #678983;
}

.container-header {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    align-items: center;

}

.nav-header button {
    color: black;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #E6DDC4;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 3px 3px #678983;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.card button {
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E6DDC4;
    border-radius: 16px;
    box-shadow: 3px 3px #678983;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.card p {
    color: black;
}

.logo {
    color: #fef4ee;
    font-size: 30px;
    margin-left: 25px;
    cursor: pointer;


}

.section1 {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imagenes/codigo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: sticky;
    height: 70vh;
    width: 100%;
    margin-top: 30px;
    border-radius: 3px;

}

.nav-header button:hover {
    color: #eeeeee;
    background-color: #181D31;
    transition: linear 1s;

}

.boton-card1:hover {
    color: #eeeeee;
    background-color: #181D31;
    transition: linear 1s;
}

.boton-card2:hover {
    color: #eeeeee;
    background-color: #181D31;
    transition: linear 1s;
}

.boton-card1 {
    margin: 7px;
}

.boton-card2 {
    margin: 20px;
}

.section2-cards {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;

}

.card {
    background-color: #E6DDC4;
    border: gray solid 5px;
    width: 350px;
    height: 400px;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
    color: black;

}

img {
    width: 100%;
    height: 224px;
}

p {
    text-align: center;
    color: #181D31;
    margin-bottom: 50px;
}

.boton {
    font-size: small;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px #8080AF;
    text-decoration: none;
    background-color: #E6DDC4;
    cursor: pointer;
    color: #181D31;
}


footer {
    height: 20vh;
    background-color: #678983;
    color: #181D31;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.logo-footer {
    height: 90px;
    width: 120px;
    margin: 0;
    padding: auto;

}

.titulo-footer {
    font-size: 14px;
    margin: 0;
    margin-top: 20px;
    margin-left: 200px;
}

.footer-left {
    display: flex;
    text-align: center;
}

.data-historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.titulo-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 60vh;
    width: 100%;
    margin-top: 60px;

}

.titulo-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 60vh;
    width: 100%;
}

.titulo-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 60vh;
    width: 100%;
    margin-bottom: 60px;
}

.texto-historia {
    color: white;
    width: 45%;
    margin-bottom: 50px;
    text-align: center;
}

.titulo-video {
    text-align: center;
    text-shadow: 2px 2px gray;
    font-size: 40px;
    color: #678983;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    width: fit-content;
    margin: auto;
    padding: 2px;
    margin-top: 10px;
}

video {
    height: 500px;
}


.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #1d1d1d;
    border-radius: 10px;
    text-align: center;

}

.botonera {
    display: flex;
    gap: 20px;
}

.botones-video {
    box-shadow: 2px 3px #678983;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    background-color: #E6DDC4;
    color: #181D31;
    cursor: pointer;
}

.img-boton {
    width: 70px;
    height: 10px;
}

.duracion-video {
    color: white;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#cajas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;
    gap: 3px;
}

.caja {
    width: 275px;
    height: 400px;
    display: flex;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.caja:hover {
    background-color: #1d1d1d;
}

#imagenes {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 40px;
    cursor: pointer;
}

.img2 {
    width: 275px;
    height: 400px;
}

p {
    color: white;
}

.reinicio {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 130px;
    width: 35%;
}

.botones-video:hover {
    background-color: #181D31;
    color: #eeeeee;
    transition: linear 1s;
}

.compRacista {
    animation: appearFromTop 1s ease-out forwards;
    animation-delay: 0.2s;
}

.compNoRacista {
    animation: appearFromTop 1s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes appearFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}